#encoding: UTF-8
<p id="notice"><%= notice %></p>

<header>
<h1>Ogden Automotive</h1>
</header>

<nav>
  <h1>Listing Customers</h1>
</nav>

<section>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</section>

<br>

<footer>
<%= link_to 'New Customer', new_customer_path %>
</footer>