<p id="notice"><%= notice %></p>

<header>
  <h1>Welcome to Ogden Automotive!</h1>
</header>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @homes.each do |home| %>
      <tr>
        <td><%= link_to 'Show', home %></td>
        <td><%= link_to 'Edit', edit_home_path(home) %></td>
        <td><%= link_to 'Destroy', home, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<center>
<h1>The Premier Ford Dealership at UH</h1>
</center>
  <p>

  <center>  As an American, I believe in American cars, and look no further than Ogden Automotive. 100% American. 100% of the time.
  </center>
<br>

<footer>
  Copyright © Joshua Ogden. CIS 4339. Go Coogs.
</footer>

