<table class="CSSTableGenerator" width="30%">
  <th>Price</th>
  <th>Price</th>
  <th>Interest Rate</th>
  <% @loan_array.each_with_index do |p,n|  %>
      <tr>
        <td><%= n %></td>
        <td><%= p.round(2) %></td>
        <td><%= Loan.payment.round(2) %></td>
      </tr>
  <% end %>

</table>