#encoding: UTF-8
<p id="notice"><%= notice %></p>

<header>
  <h1>Ogden Automotive</h1>
</header>

<nav>
<h1>Listing Loans</h1>
</nav>

<section>
<table>
  <thead>
    <tr>
      <th>Price</th>
      <th>Interest Rate</th>
      <th>Period</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @loans.each do |loan| %>
      <tr>
        <td><%= loan.price %></td>
        <td><%= number_with_precision(loan.interest_rate, precision: 2) %></td>
        <td><%= loan.period %></td>
        <td><%= link_to 'Show', loan %></td>
        <td><%= link_to 'Edit', edit_loan_path(loan) %></td>
        <td><%= link_to 'Destroy', loan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</section>
<br>
<footer>
<%= link_to 'New Loan', new_loan_path %>
</footer>
