<p id="notice"><%= notice %></p>



<p>
  <strong>Price:</strong>
  <%= @loan.price %>
</p>

<p>
  <strong>Interest rate:</strong>
  <%= @loan.interest_rate %>
</p>

<p>
  <strong>Period:</strong>
  <%= @loan.period %>
</p>

<%= link_to 'Edit', edit_loan_path(@loan) %> |
<%= link_to 'Back', loans_path %>
