#encoding: UTF-8
<p id="notice"><%= notice %></p>


<header>
  <h1>Ogden Automotive</h1>
</header>

<nav>
  <h1>Listing Cars</h1>
</nav>

<section>
  <table>
    <thead>
    <tr>
      <th>Make</th>
      <th>Model</th>
      <th>Vin</th>
      <th>Color</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @cars.each do |car| %>
        <tr>
          <td><%= car.make %></td>
          <td><%= car.model %></td>
          <td><%= car.vin %></td>
          <td><%= car.color %></td>
          <td><%= link_to 'Show', car %></td>
          <td><%= link_to 'Edit', edit_car_path(car) %></td>
          <td><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</section>


<br>
<footer>
<%= link_to 'New Car', new_car_path %>
</footer>