<%= form_for(@sale) do |f| %>
  <% if @sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
      <% @sale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :msrp %><br>
    <%= f.text_field :msrp %>
  </div>
  <div class="field">
    <%= f.label :interest %><br>
    <%= f.text_field :interest %>
  </div>
  <div class="field">
    <%= f.label :principal %><br>
    <%= f.text_field :principal %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.check_box :status%>
  </div>
  <div class="field">
    <%= f.label :Customer %><br>
    <%= f.collection_select :customer_id, Customer.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :Staff %><br>
    <%= f.collection_select :staff_id, Staff.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :VIN %><br>
    <%= f.collection_select :car_id, Car.all, :id, :model %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
