#encoding: UTF-8
<p id="notice"><%= notice %></p>

<header>
  <h1>Ogden Automotive</h1>
</header>

<nav>
<h1>Listing Sales</h1>
</nav>

<section>
<table>
  <thead>
    <tr>
      <th>MSRP</th>
      <th>Markup</th>
      <th>Interest</th>
      <th>Principal</th>
      <th>Total</th>
      <th>Status</th>
      <th>Customer</th>
      <th>Assigned Sales Staff</th>
      <th>Car</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= number_to_currency(sale.msrp, :unit => "$", :delimeter => ".") %></td>
        <td><%= number_to_currency(sale.calc, :unit => "$", :delimeter => ".") %></td>
        <td><%= number_with_precision(sale.interest, precision: 2) %></td>
        <td><%= number_to_currency(sale.principal, :unit => "$", :delimeter => ".") %></td>
        <td><%= number_to_currency(sale.calc_total, :unit => "$", :delimeter => ".") %></td>
        <td><%= sale.sold %></td>
        <td><%= sale.customer.name %></td>
        <td><%= sale.staff.name %></td>
        <td><%= sale.car.model %></td>
        <td><%= link_to 'Show', sale %></td>
        <td><%= link_to 'Edit', edit_sale_path(sale) %></td>
        <td><%= link_to 'Destroy', sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table><br/><br/>

  <h1>Dealership Owner Information</h1>
  <th>
Total Gross Revenue= </th><td> <%= number_to_currency(Sale.grevenue, :unit => "$", :delimeter => ".") %></td>
<br>
Net Profit= </th><td> <%= number_to_currency(Sale.netprofit, :unit => "$", :delimeter => ".") %></td>
<br>
Sales Tax Total = </th><td> <%= number_to_currency(Sale.taxtotal, :unit => "$", :delimeter => ".") %></td>
<br>
</section>
<footer>
<%= link_to 'New Sale', new_sale_path %>
</footer>