<p id="notice"><%= notice %></p>



<p>
  <strong>Msrp:</strong>
  <%= @sale.msrp %>
</p>

<p>
  <strong>Markup:</strong>
  <%= @sale.markup %>
</p>

<p>
  <strong>Interest:</strong>
  <%= @sale.interest %>
</p>

<p>
  <strong>Principal:</strong>
  <%= @sale.principal %>
</p>

<p>
  <strong>Total:</strong>
  <%= @sale.total %>
</p>

<p>
  <strong>Sold?</strong>
  <%= @sale.status %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @sale.customer_id %>
</p>

<p>
  <strong>Staff:</strong>
  <%= @sale.staff_id %>
</p>

<p>
  <strong>Car:</strong>
  <%= @sale.car_id %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
