<!DOCTYPE html>
<html>
<head>
  <title>Ogden Automotive</title>
  <h1>
    <%= link_to 'Home', homes_path%>
    <%= link_to 'Customers', customers_path%>
    <%= link_to 'Loans', loans_path %>
    <%= link_to 'Sales', sales_path%>
    <%= link_to 'Staff', staffs_path %>
    <%= link_to 'Cars', cars_path %>
  </h1>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
